* {font-family: 'Arima', cursive;
}

body {
    height:100%;
}

h2 {
  color: #f5a69e;
  font-weight: bolder;

}

.hero-img{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url ("https://images.unsplash.com/photo-1602705399214-d2fed251f3b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fHBpbmslMjBsYXB0b3B8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  opacity: 0.8;
  min-width: 360px;
  max-width: 770px;
  height:auto;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
        text-align: center;
        max-width: 360px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight:900;
        color: black !important;
        font-size: xx-large !important;
}
.intro{
  color: black !important;
  font-size: xx-large !important;
}
#about-me {
    width: 150vw;
    height: auto;
    background-color: #ffe5c4;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top:0px;

}
.about-me {
  font-size:xx-large !important;
  font-weight:bolder !important;
  margin-left: 50px;
  margin-right:50px;
 
}
.about-me-text{
  margin-top: 0px;
  margin-left: 50px;
  margin-right:50px;
}

.portfolio-container {
background-color: #cddccf; 
width: 150vw;
display: flex;
flex-direction: column;
}
.portfolio-items{
  margin-left: 50px;
  margin-right:50px;
}
.portfolio-heading {
  font-size:xx-large !important;
  font-weight:bolder !important;
  text-align:left;
  
}

.project-img {
  width:50vw;
  height:50vh;
  background-color: #c2bbcd;
}
.project1 {
    border-color: black;
    width:75vw;
}

.project title{
  text-align:centre;
  display: flex;
  justify-content: center;
}
.message {
  width: 30px;
  height:20px;
}

.footer {

}